In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df

       col1      col2      col3
0  0.130993 -0.020083 -0.823880
1 -0.212291  0.757865 -0.363842
2 -1.292832  0.949388  0.073694
3 -0.145782  1.542823  1.505875
4 -0.415795  1.269650 -0.658916

In [3]:
def adder(e1,e2):
    return e1+e2

In [4]:
df.pipe(adder,2)

       col1      col2      col3
0  2.130993  1.979917  1.176120
1  1.787709  2.757865  1.636158
2  0.707168  2.949388  2.073694
3  1.854218  3.542823  3.505875
4  1.584205  3.269650  1.341084

In [5]:
df.apply(np.mean)

col1   -0.387141
col2    0.899929
col3   -0.053414
dtype: float64

In [6]:
df.apply(np.mean,axis=1)

0   -0.237656
1    0.060577
2   -0.089917
3    0.967639
4    0.064980
dtype: float64